{% extends 'base.html.twig' %}

{% block title %}Accueil - CR-SYMFONY{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Bienvenue sur CR-SYMFONY</h1>
            <p class="text-center">Votre système de gestion de formulaires</p>
        </div>
    </div>
</div>
{% endblock %} 