{# templates/mamo/_densite.html.twig #}

<div class="card mb-4">
    <div class="card-header text-center d-flex justify-content-between align-items-center cursor-pointer">
        <h4 class="mb-0">Densité des seins</h4>
        <i class="bi bi-eye toggle-visibility" data-target="densite-seins-content"></i>
    </div>
    <div class="card-body densite-seins-content">
        {# Densité mammaire #}
        <div class="mb-4">
            <h5 class="mb-3">Densité mammaire</h5>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.densite_seins.densite_seins) }}
                </div>
            </div>
        </div>

        {# Cartes des seins côte à côte #}
        <div class="row">
            {# Sous-carte Sein gauche #}
            <div class="col-md-6">
                {% include 'home/formulaire/Mamo/densite/_densite_gauche.html.twig' %}
            </div>

            {# Sous-carte Sein droit #}
            <div class="col-md-6">
                {% include 'home/formulaire/Mamo/densite/_densite_droite.html.twig' %}
            </div>
        </div>
    </div>
</div>